* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

.content {
    padding: 1rem;
}

.id {
    font-size: clamp(0.625rem, 0.75rem, 0.8rem);
}

.description,
.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.pokemons {
    display: grid;
    margin: 0 auto;
    gap: 1;
    margin-inline: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.pokemon {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1.5rem 1rem;
    margin: 1rem;
    font-weight: bold;
    color: white;
    border-radius: 1rem;
}

.grass {
    background-color: #61C255;
}

.fire {
    background-color: #F5773D;
}

.water {
    background-color: #547FE0;
}

.bug {
    background-color: #9fb13a;
}

.normal {
    background-color: #999E73;
}

.electric {
    background-color: #daac2f;
}

.ice {
    background-color: #82cfcf;
}

.ground {
    background-color: #e2bc6a;
}

.flying {
    background-color: #9e80e2;
}

.poison {
    background-color: #9d338d;
}

.fighting {
    background-color: #bf2b2a;
}

.psychic {
    background-color: #f5547d;
}

.dark {
    background-color: #695040;
}

.rock {
    background-color: #b39a42;
}

.ghost {
    background-color: #654a84;
}

.steel {
    background-color: #9996ac;
}

.dragon {
    background-color: #571cc3;
}

.fairy {
    background-color: #d78ba2;
}

.type {
    list-style: none;
    font-weight: 400;
    font-size: clamp(0.625rem, 0.75rem, 0.8rem);
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.1);
}

.pokemon .details img {
    max-width: 100%;
    height: 100px;
    align-self: flex-end;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#loadMore {
    display: flex;
    border: none;
    border-radius: 1rem;
    background-color: #6e54e0;
    color: white;
    font-size: clamp(0.625rem, 0.75rem, 0.8rem);
    padding: 4px 8px 4px 8px;
    text-align: center;
    cursor: pointer;
}