* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

.content {
    padding: 1rem;
}

.id {
    font-size: clamp(0.625rem, 0.75rem, 0.8rem);;
    color: #114d38;
}

.details, .description, .top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemons {
    display: grid;
    margin: 0 auto;
    gap: 1;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.pokemon {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1.5rem 1rem;
    margin: 1rem;
    font-weight: bold;
    color: white;
    border-radius: 1rem; 
}

.pokemon.grass {
    background-color: #49D0B0;
}

.pokemon.fire {
    background-color: #FC6C6D;
}

.pokemon.water {
    background-color: #76BEFE;
}

.pokemon.bug {
    background-color: #a4c071;
}

.pokemon.normal {
    background-color: #979783;
}

.type {
    list-style: none;
    font-weight: 400;
    font-size: clamp(0.625rem, 0.75rem, 0.8rem);
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    text-align: center;
}

.grass .type{
    background-color: #114d38;
} 

.fire .type{
    background-color: #4d1111;
} 

.water .type{
    background-color: #11374d;
} 

.bug .type{
    background-color: #404d11;
} 

.normal .type{
    background-color: #464538;
} 

.pokemon .details img {
    max-width: 100%;
    width: 50%;
    height: auto;
    align-self: flex-end;
}

